<div class="field_with_errors">
  <fieldset>
    <legend>Trip Details</legend>

    <%= f.label "Trip Title:" %><br>
    <%= f.text_field :title %><br />
    <%= f.label "Destination:" %><br>
    <%= f.text_field :destination %><br />
    <%= f.label "Year:" %><br>
    <%= f.number_field :year %><br />
    <%= f.label "Trip Notes:" %><br>
    <%= f.text_area :notes %><br/>
  </fieldset>
</div>
