<h4>Select Display Option for Trip</h4>
<%= form_for @trip do |f| %>

  <%= f.radio_button(:display_option, "category_items") %>
  <%= f.label(:display_option_category_items, "Category Items") %>
  <%= f.radio_button(:display_option, "all_items") %>
  <%= f.label(:display_option_all_items, "All Items") %>

  <%= f.submit "Update" %>
<% end %>
