
<%= form_for @trip do |f| %>
  <%= render 'form', f: f %>
  <br></br>
  <%= render 'categories/add_categories', f: f %>
  <br></br>
<%= f.submit "Update"%>
<% end %>

<br></br>

<% if !@trip_check.nil? %>
  <% if @trip_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_check.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @trip_check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
