<%= form_for @trip do |f| %>
  <%= f.label "Trip Title" %>
  <%= f.text_field :title %><br />
  <%= f.label "Destination" %>
  <%= f.text_field :destination %><br />
  <%= f.label "Year" %>
  <%= f.text_field :year %><br />
  <%= f.label "Trip Notes" %>
  <%= f.text_area :notes %><br/>

  <h3>Select Category</h3>
  <%= f.collection_check_boxes :category_id, Category.all, :id, :name %>

  <%= f.fields_for :categories, @categories.build do |categories_fields| %><br />
  <%= f.label "Or create new category " %>
  <%= categories_fields.text_field :name %><br />
  <% end %>

  <br></br>
  <%= f.submit%>
<% end %>
