
<h1><%=@trip.title%> - <%= @trip.year %> - Destination: <%= @trip.destination %></h2></h1>

<h2>Trip Category: <%= @trip.category.name%></h2>
<%= button_to 'Edit Trip Details', edit_trip_path, method: :get %><br />
<%= button_to "Delete Trip", {:controller => :trips, :action => 'destroy', :id => @trip.id }, :method => :delete %><br />

<% if user_signed_in? %>
    <%= render 'items/items' %>
    <%= button_to 'Display List', trip_items_path(@trip), method: :get %><br />
    <br></br>
    <%= render 'items/add_items' %>
<% end %>

<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
