<h1><%=@trip.title%> - <%= @trip.year %></h1>
  <h2>Destination:   <%= @trip.destination %></h2>

<h2>Trip Category: <%= @trip.category.name%></h2>

<% if user_signed_in? %>
  <h3>Items To Pack</h3>

  <% @trip.items.each do |item| %>
    <p><%= item.name %> - <%= @trip.trip_items.find_by(item_id: item.id).quantity %></p>
  <% end %>

  <br></br>

  <h4>Items To Add To The List</h4>
  <h5>Select From Existing Items:</h5>

  <%= form_for @trip.trip_items.build do |f| %>
  <%= f.hidden_field :trip_id %>
  <%= f.collection_check_boxes :item_id, @trip.category.items.all.uniq, :id, :name %>

  <%= f.fields_for :item, @trip.trip_items.build.build_item do |items_fields| %><br />
      <%= f.label "Or add new item: " %><br>
      <%= f.label "Name" %>
      <%= items_fields.text_field :name %><br />
    <% end %>

    <br>
    <br>

  <%= f.label "Quantity (default = 1)" %>
  <%= f.number_field :quantity %><br />

  <%= f.submit "Add Item"%>
  <% end %>


<% end %>

<br>
