<h1>Trip Packing Lists</h1>

<%= form_for @trip do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <%= f.fields_for :categories do |i| %>
    <%= i.label :name%>
    <%= i.text_field :name %><br />
  <%end%>
  <%= f.submit%>
<% end %>

 <% if !user_signed_in? %>
  <h3>User not logged in</h3>
<% end %>
