<!DOCTYPE html>
<html>
<head>
  <title>Packing Lists</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>




<%= yield %>


</body>
</html>

<!DOCTYPE html>
<html>
<head>
  <title>DeviseLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

<%= render 'layouts/header' %>
<%= yield %>

<%= link_to("Sign out", destroy_user_session_path, :method => "delete") %>
<%= link_to("Home", "/") %>
<%= link_to("Sign in", new_user_session_path) %>
<%= link_to("Sign up", new_user_registration_path) %>

</body>
</html>
