<h3><%=@trip.title%> - <%= @trip.year %> - Destination: <%= @trip.destination %></h3></h1>
<fieldset>
  <legend>Trip Items - Click Any Item To Edit</legend>
  <ul>
    <% @items.each do |item| %>
      <li><%= link_to item.name, edit_trip_item_path(@trip, item) %> - <%= @trip.trip_items.find_by(item_id: item.id).quantity %></li>
    <% end %>
  </ul>
</fieldset>
<br>
<%= button_to 'Show Full Trip Details', trip_path(@trip), method: :get %>
<br></br>
